/* welcome.css

*/

div{
	font-family:AmericanTypewriter;
}
#login{
	padding:15px;
	margin-left:auto;
	margin-right:auto;
}
#login_container{
	position: absolute;
	right: -280px;
	top:34px;
	width: 300px;
}
#login .h_description{
	top:-18px;
	cursor:pointer;
	text-align: center;
}
#login .h_description:hover{
	background-color:rgba(100,100,100,.5);
	-moz-box-shadow:inset 0px 0px 10px  #2E2E2E;
    -webkit-box-shadow:inset 0px 0px 10px  #2E2E2E;
    box-shadow:inset 0px 0px 10px #2E2E2E;	
}
#login table{
	margin-top:-25px;
}
#login tr{
	height:30px;
}
#login span{
	margin-left: auto;
	margin-right: auto;
	display: block;	
	text-align:center;
	float:right;
}
input{
	opacity: .6;
	border-radius:8px;
	padding-left:10px;
}

@font-face {
	font-family: AmericanTypewriter;
	src: url('/public/fonts/AmericanTypewriter.ttf'),
	     url('/public/fonts/AmericanTypewriter.eot'); /* IE9+ */
}

#logo {
	display: block;
	text-align: center;
}

.shadow_box{
	background-color:rgba(160,160,160,.4);
	border-radius:12px;
	-moz-box-shadow:inset 0px 0px 40px  #2B2B2B;
    -webkit-box-shadow:inset 0px 0px 40px  #2B2B2B;
    box-shadow:inset 0px 0px 40px #2B2B2B;	
}

#app_body{
	width:600px;
	height:600px;
	position:relative;
	top:-18px;
}

#app_left{
	display:inline-block;
	width:300px;
	height:500px;
	position:absolute;
	left:15px;
}

#app_right{
	display:inline-block;
	width:300px;
	height:500px;
	position:absolute;
	right:15px;
}

#preference_interface{
	display:block;
	width:250px;
	height:419px;
    margin: 33px 25px 33px 25px;
    position:relative;
}

#courses_registered {
	display:block;
	width:250px;
	height:200px;
    margin: 0px 25px 0px 25px;
}

#courses_want {
	display:block;
	width:250px;
	height:200px;
    margin: 33px 25px 18px 25px;
}

.h_description {
	position: relative;
	top:11px;
	background-color:rgba(51,204,225,.1);
	color: #69CCCC;
	-moz-box-shadow:inset 0px 0px 13px  #2B2B2B;
    -webkit-box-shadow:inset 0px 0px 13px  #2B2B2B;
    box-shadow:inset 0px 0px 13px #2B2B2B;
    border-radius:7px;
    padding:4px;
    margin: 14px;
    font-family: AmericanTypewriter;
    font-weight:heavy;
}

#submit_button {
	position:absolute;
	bottom:16px;
	cursor: pointer;
	width:216px;
	padding-left:17px;
}

.autocomplete_this {
	margin: 16px;
	position:relative;
	top:-12px;
}

.autofill{
	background-color:rgba(61,61,61,.3);
	color: rgb(0,0,25);
	-moz-box-shadow:inset 0px 0px 25px  #2B2B2B;
    -webkit-box-shadow:inset 0px 0px 25px  #2B2B2B;
    box-shadow:inset 0px 0px 25px #2B2B2B;	
    border-radius:10px;
    font-family: AmericanTypewriter;
    font-weight:heavy;
    text-align: center;
    width:160px;
    margin:6px;
    font-size:10px;
    white-space:nowrap;
    overflow:hidden;
    height:27px;
    width:197px;
    text-align:left;
}

.results{
	position:relative;
	top:-18px;
	height:92px;
	width:211px;
    background-color:rgba(72,72,72,.4);
	border-radius:10px;
	-moz-box-shadow:inset 0px 0px 25px  #2B2B2B;
    -webkit-box-shadow:inset 0px 0px 25px  #2B2B2B;
    box-shadow:inset 0px 0px 25px #2B2B2B;	
    padding-top:3px;
    padding-bottom: 16px;
}