/* welcome.css

*/

div{
	font-family:AmericanTypewriter;
}
#login{
	padding:15px;
	margin-left:auto;
	margin-right:auto;
}
#login_container{
	position: absolute;
	top: 532px;
	left: 25px;
	width: 250px;
}

#login.shadow_box{
	height: 220px;
}

#login .h_description{
	top:-18px;
	cursor:pointer;
	text-align: center;
}
#login .h_description:hover{
	background-color:rgba(100,100,100,.5);
	-moz-box-shadow:inset 0px 0px 10px  #2E2E2E;
    -webkit-box-shadow:inset 0px 0px 10px  #2E2E2E;
    box-shadow:inset 0px 0px 10px #2E2E2E;	
}
#login table{
	margin-top:-25px;
}
#login tr{
	height:30px;
}
#login span{
	margin-left: auto;
	margin-right: auto;
	display: block;	
	text-align:center;
	float:right;
}
#login .button{
	background-color: rgba(100, 100, 100, 0.292969);
	width: 80px;
	display: block;
	position: absolute;
	top: 200px;
	margin:0px;
}
#login #submit{
	left: 130px;
}
#login #login_button{
		left: 25px;
}
input{
	opacity: .3;
	border-radius:8px;
	padding-left:10px;
	height: 30px;
	width: 200px;
}

@font-face {
	font-family: AmericanTypewriter;
	src: url('/public/fonts/AmericanTypewriter.ttf'),
	     url('/public/fonts/AmericanTypewriter.eot'); /* IE9+ */
}

#logo {
	display: block;
	text-align: center;
}

.shadow_box{
	background-color:rgba(160,160,160,.4);
	border-radius:10px;
	-moz-box-shadow:inset 0px 0px 30px  #2B2B2B;
    -webkit-box-shadow:inset 0px 0px 30px  #2B2B2B;
    box-shadow:inset 0px 0px 30px #2B2B2B;	
}

#app_body{
	width:600px;
	height:800px;
	position:relative;
	top:-18px;
}

#app_left{
	display:inline-block;
	width:300px;
	height:500px;
	position:absolute;
	left:15px;
}

#app_right{
	display:inline-block;
	width:300px;
	height:500px;
	position:absolute;
	right:15px;
}

#preference_interface{
	display:block;
	width:250px;
	height:480px;
    margin: 33px 25px 33px 25px;
    position:relative;
}

#courseswap_info.shadow_box{
	width: 250px;
	height: 250px;
	position:relative;
	top: 4px;
}

#courseswap_description{
	font-size: 14px;
	color: #69CC91;
	padding: 20px;
}

#courses_registered {
	display:block;
	width:250px;
	height:230px;
    margin: 0px 25px 0px 25px;
}

#courses_want {
	display:block;
	width:250px;
	height:230px;
    margin: 34px 25px 18px 25px;
}

.h_description {
	position: relative;
	top:15px;
	background-color:rgba(50, 122, 143, .2);
	color: #38A;
	-moz-box-shadow:inset 0px 0px 10px  #2B2B2B;
    -webkit-box-shadow:inset 0px 0px 10px  #2B2B2B;
    box-shadow:inset 0px 0px 10px #2B2B2B;
    border-radius:8px;
    padding:8px;
    margin: 15px;
    font-family: AmericanTypewriter;
    text-shadow: 1px 1px 2px #2B2B2B;
}

#submit_button {
	position:absolute;
	bottom:16px;
	cursor: pointer;
	width:216px;
	padding-left:17px;
}

.autocomplete_this {
	margin: 8px;
	position:relative;
	top:2px;
	height: 30px;
	width: 220px;
}

.autofill{
	background-color:rgba(61,61,61,.3);
	color: rgb(0,0,25);
    border-radius:8px;
    font-family: AmericanTypewriter;
	text-align: center;
    width:160px;
    margin:6px;
    font-size:11px;
    white-space:nowrap;
    overflow:hidden;
    height:23px;
    width:90%;
    text-align:left;
    vertical-align: middle;
	color: #69CCCC;
	padding-top:10px;
	padding-left:5px;

	cursor: pointer;
}
#preferences{
	position: relative;
	top:10px;
}

#preferences .want{
	color:#69CC91;
}
#preferences .registered{
	color:#CC6979;
}
#preferences .want, #preferences .registered{
}
.autofill:hover{
	background:rgba(51, 204, 225, .1);
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.autofill span{

}
.results{
	position:relative;
	height:115px;
	width: 240px;
}
.delete_button{
    width:15px;
    height:15px;
    background:url('/public/images/delete_button.png');
    cursor:pointer;
	position: absolute;
	right: 18px;
	margin-top: -14px;
	opacity: .35;
}

.delete_button:hover{
    background-position:0px -15px;
}

.delete_button:active{
    background-position:0px -30px;
}

#darkbackground {
    position:absolute;
    top:0px;
    left:0px;
    background-color : black;
    z-index: 20;
    opacity: .3;
}

#lightbox {
	z-index: 21;
	height: 600px;
	width: 600px;
	opacity: 1;
}