<html>
<title> CycleSwap.net helps get you into the courses you can't register for on banner. </title>
<head>
	<script type="text/javascript" src="/public/jquery.js"></script>
	<script type="text/javascript" src="/public/global.js"></script>
	<script type="text/javascript" src="/public/utils.js"></script>
</head>
<body>
<script type="text/javascript">
window.csrfTOKEN = '{{ csrf_token }}';
$(document).ready(function(){
	setupSite();
});
</script>
<center>

	<div id='welcome_txt' style='display:block'> Welcome to cycleswap! </div>
	<div id='register_txt'> Click here to register. </div>

</center>
</body>
</html>