<html>
<title> CourseSwap.co - We facilitate elaborate course trades at Brown. </title>
<head>
	<script type="text/javascript" src="/public/jquery.js"></script>
		<script type="text/javascript" src="/public/jquery-ui.js"></script>
		<script type="text/javascript" src="/public/shadow-animation.js"></script>
	<script type="text/javascript" src="/public/global.js"></script>
	<script type="text/javascript" src="/public/lightbox.js"></script>
	<script type="text/javascript" src="/public/utils.js"></script>
	<link type="text/css" rel="stylesheet" href="/public/welcome.css"></link>
	<link rel="icon" href='/public/images/favicon.png'>
</head>
<body background='public/images/bg.png'>
<script type="text/javascript">
window.csrfTOKEN = '{{ csrf_token }}';
$(document).ready(function(){
	window.name;
	window.logged_in = {% if logged_in %}true; name="{{name}}"{% else %}false{% endif %};
	setupSite();
	if (logged_in){
		$('#loggedin_text').text("Welcome, " + name + ". Feel free to update your course preferences. We'll let you know when we've found a student willing to trade you for course you want.");
	}
});
</script>

	<div id='logo'><img src='/public/images/logo.png'></div>

	<center>
		<div id='app_body'>

			<div id='app_left'>
				<div id='courses_want' class='shadow_box' type="want">
					<div id='courses_i_want_txt', class='h_description'>
						Courses I want
					</div>
					<input id='course_want_input' fillertext="To start, type a course name here." class='autocomplete_this', type='text'>
					<div id='want_results' class='results' style="display:none">
						{% for i in 123|make_list %}
							<div id="want_autofill_{{i}}" class="autofill ellipsis want">
								<span></span>
							</div>
						{% endfor %}
					</div>
				</div>

				<div id='courses_registered'  class='shadow_box' type="registered">
					<div id='courses_im_registered_for_txt', class='h_description'>
						Courses registered for
					</div>
					<input id='course_registered_input' fillertext="Or here." class='autocomplete_this' type='text'>
					<div id='registered_results' class='results' style="display:none;">
						{% for i in 123|make_list %}
							<div id="registered_autofill_{{i}}" class="autofill ellipsis registered">
								<span></span>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<div id='app_center'>
				<div id='preference_interface'  class='shadow_box'>
					<div id='drag_and_drop_prefs_txt' class='h_description'>
						Drag & Drop Preferences
					</div>
					<div id="preferences">

					</div>
					<img id='submit_button' src='/public/images/submit.png'>
				</div>
			</div>

			<div id='app_right'>
				<div id='courseswap_info' class='shadow_box' type="info">
					<div id='courseswapinfo_header', class='h_description'>
						How it works
					</div>
					<div id='courseswap_description', class='preferences', type='text'>
						Courseswap is a new tool for students to trade spots in capped courses that are difficult to get into. We apply graph alogrithms to students' preferences over courses and find advantageous trades that students can make when they meet up via <a style="color:#39B" href='http://calclash.com' target="_blank"> Calendar Clash. </a> 
					</div>
				</div>
				<div id="login_container">
					<div id="login" class="shadow_box">
						<div id="header" class="h_description">Log in</div>
						<table style="display:none">
						<tr class="registration_input">
						<td><input fillertext= "Name" type="text" id="name" name="Name"></td>
						</tr>
						<tr>
						<td><input fillertext="Email" type="text" id="email" name="Email" style="display:block;"></td>
							</tr>
						<tr>
						<td class="desc"><input  fillertext="Password" type="text" class="Password" id="password" name="Password" style="display:block;"></td>
						</tr>
						<tr class="registration_input">
						<td><input fillertext="Confirm password" type="text" id="password_again" class="Password" name="Password again" ></td>
					</tr>
				</table>
				<div class="h_description hide-em button pointer" id="submit" >Log in</div >
				<div class="h_description button pointer" onclick="changeToLogin('t'); showIt();" id="login_button" style="display:none;">Log in</div >
					<div id="loggedin_text" class="courseswap_description"></div>
					</div>
				</div>
			</div>

		</div>
	</center>

<a id='emailus' href="mailto:Pareto@courseswap.co" target="_blank"> Have something to say? Email us.</a>

	<!--<div id='register_txt'> Click here to register. </div>-->

</body>
</html>