<html>
<title> CourseSwap.co - We facilitate elaborate course trades at Brown. </title>
<head>
	<script type="text/javascript" src="/public/jquery.js"></script>
	<script type="text/javascript" src="/public/jquery-ui.js"></script>
	<script type="text/javascript" src="/public/global.js"></script>
	<script type="text/javascript" src="/public/utils.js"></script>
	<link type="text/css" rel="stylesheet" href="/public/welcome.css"></link>
</head>
<body background='public/images/bg.png'>
<script type="text/javascript">
window.csrfTOKEN = '{{ csrf_token }}';
$(document).ready(function(){
	setupSite();
});
</script>

	<div id='logo'><img src='/public/images/logo.png'></div>

	<center>
		<div id='app_body'>

			<div id='app_left'>
				<div id='courses_want'>
				</div>
				<div id='courses_registered'>
				</div>
			</div>

			<div id='app_right'>
				<div id='preference_interface'>
				</div>
			</div>
		</div>
	</center>


	<!--<div id='register_txt'> Click here to register. </div>-->

</body>
</html>